* {
  box-sizing: border-box;
}

body {
  color: aliceblue;
  margin: 0;
  border: 0;
}


.show {
  background-color:rgba(75, 72, 72, 0.8);
  border-bottom-right-radius: 12px;
  background-color: rgba(75, 72, 72, 0.8);
  border-bottom-right-radius: 12px;
  border: 2px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-left: none;
  border-top: none;
}


.hide {
  display: none;
}

.selectBtn {
  background-color: #222;
  border-radius: 12px;
  height: 30px;
}

#wholeNav {
  position:fixed;
}

ul {
  list-style-type: none;
}

#nodeJsUl {
  padding-left: 0;
  list-style-type: none;
}

.navOptions {
  width: 150px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #000; */
  font-size: 22px;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 5px;
}

#navMenu {
  padding: 10px;
  margin-left: 0px;
  margin-right: 0;
  /* background-color: rgb(3, 57, 104); */
}

#navMenu > span {
  display: block;
  width: 34px;
  height: 2px;
  border-radius: 9999px;
  background-color: white;
}

#navMenu > span:not(:last-child) {
  margin-bottom: 7px;
}

#navMenu, #navMenu > span {
  transition: all .4s ease-in-out;
}

/* #navMenu.active{
  padding-bottom: 0;
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 22px;
  transition-delay: 0.8s;
  transform: rotate(45deg);
} */

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(2),
#navMenu.active > span:nth-child(3) {
  transition-delay: .4s;
}


#navMenu.active > span:nth-child(1) {
  transform: translateY(9px) rotate(130deg);
}

#navMenu.active > span:nth-child(2) {
  
  transform: translateY(1px) rotate(50deg);
}

#navMenu.active > span:nth-child(3) {
  transform: translatex(-100px) rotate(45deg);
}

h1 {
  font-size: 32px;
}

#whoAmI h1 {
  width: 100%;
  margin-top: 0;
  text-align: center;

 
}

h2 {
  margin-top: -20px;
  font-size: 26px;
  
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
  width: 100%;
  margin-top: 0;
}

p {
  font-size: 18px;
}

ul {
  font-size: 18px;
}

label {
  font-weight: bold;
  font-size: 20px;
}

input {
  font-size: 18px;
}

textarea {
  font-size: 18px;
}

.prov {
  background-color:rgba(75, 72, 72, 0.3);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
  margin-top: 0;
}

#app {
  height: 100%;
  width: 100%;
  background-image: url(./img/provbk4.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  
}

#myHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/provbk7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  /* background-color: rgba(31, 30, 30, 1); */
  width: 100%;
  height: 18em;
}

#headerContent {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 13em;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
}

#whoAmI {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  z-index: 1;
  width: 90%;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  overflow: hidden;
}


#whoAmI p {
  width: 210px;
  text-align: center;
  margin-left: 0;
}


#max {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  justify-content: center;
}

#aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#me {
  width: 110px;
  height: 170px;
  border-radius: 6px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 110em;
}

#skillsH2 {
  width: 350px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  padding-top: 4px;
  border-radius: 12px;
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));

}

#html {
  display: flex;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 157px;
}

.skillsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.skillsText h3 {
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.skillsText p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#css {
  display: flex;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 260px;
}

#js {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 158px;
}

#ts {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 178px;
}

#nodeJsArt {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 270px;
  padding-top: 5px;
  padding-bottom: 30px;
}

#nodeJsArt p {
  margin-top: 10px;
  margin-bottom: 0;
}

#npm {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border-radius: 12px;
  width: 90%;
  height: 220px;
}

#postman {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 137px;
}

#figma {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 138px;
}

#internShip {
  display: flex;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 280px;
}

#coursesDone {
  display: flex;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  width: 90%;
  height: 498px;
}

#coursesDone h3 {
  margin-top: 0;
}

#coursesDone h4 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#coursesDone ul {
  padding-left: 0;
} 

#coursesDone li {
  margin-bottom: 10px;
} 

#contact {
  margin-top: 32px;
}

#contactInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: 260px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
}

#cid1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

#cid2 p {
  text-align: start;
  margin-left: 1em;
  
}

#cid2 h2 {
 text-align: center;
 width: 100%;
}

#cid3 {
  display: flex;
  justify-content: space-evenly;
}

#cid3 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}

#cid3 i {
  margin-bottom: 5px;
}

.slowFlip {
  -webkit-animation: fa-flip 6s infinite linear;
  animation: fa-flip 6s infinite linear;
}

#contactMe {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(75, 72, 72, 0.8), rgba(65, 63, 63, 0.8), rgba(56, 54, 54, 0.6), rgba(47, 45, 45, 0.5), rgba(38, 36, 36, 0.5));
  border: 0.5px  rgba(250, 247, 247, 0.4);
  border-style: ridge;
  border-radius: 12px;
  margin-top: 2em;
  padding-top: 1px;
  width: 90%;
  padding-bottom: 1.5em;
  margin-bottom: 12px;
  height: 470px;
}

#contactMe h2 {
  width: 100%;
  margin-top: -1px;
}

#contactMe2 {
  text-align: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 25px; */
}


#contactForm label {
  margin: 0.5em 0;
}

#contactForm input {
  width: 100%;
  height: 35px;
  margin: 0.5em 0;
}

#contactForm textarea {
  width: 100%;
  height: 150px;
  margin: 0.5em 0;
}

#contactForm button {
  margin: 0.5em 0;
}

#contactForm button {
  background-color: #16a31bad;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.bn600-hover {
  width: 160px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn600-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn600-hover:focus {
  outline: none;
}

.bn600-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #0ba36186,
    #3cba929f,
    #30dd89b0,
    #2bb6739d
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.575);
}


#contactForm button:hover {
  background-color: #45a049;
}

.popUp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popUp-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  color: black;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  height: 100px;
  width: 100%;
  background-color:rgb(22, 22, 22);
}

footerContent {
  margin-top: 10px;
}

.bn632-hover {
  width: 140px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0;
  height: 35px;
  text-align:center;
  line-height: 35px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}